:root {
    /* Primary */
    --gradient: linear-gradient(
        145deg,
        var(--primary-01),
        var(--primary-02)
    ); /* var doesn't work properly with a few components */
    --primary-01: hsl(236, 72%, 79%);
    --primary-02: hsl(237, 63%, 64%);

    /* Neutral */
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: hsl(233, 13%, 49%);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
}

/* 
    I'm doing this without my glasses on god. 
    I can barely read a word that i'm typing... 
*/

/* ELEMENTS */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0;

    background-color: var(--VeryLightGrayishBlue);
    background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
    background-position: top right, bottom left;
    background-repeat: no-repeat;

    color: var(--DarkGrayishBlue);
}

h1,
h2,
h3,
p,
button {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 15rem;
}
li {
    padding: 15px;

    border: 1px solid hsl(232, 13%, 33%, 0.2);
    border-left: 0;
    border-right: 0;
}

button {
    width: 300px;
    height: 45px;

    border: none;
    border-radius: 8px;

    position: relative;
    top: 25px;
}
button:hover {
    cursor: pointer;
}

/* CLASSES */
.container {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 25px;

    display: grid;
}

.row {
    margin: 0 25px;
    padding: 0;

    display: grid;
    grid-template: auto / repeat(3, 1fr);
    place-items: center;
}

.col {
    display: grid;
    padding: 0 0 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}
.col h1 {
    font-size: 4.5rem;
    margin: auto;
}
.col h2 {
    padding-top: 25px;
    font-size: 1rem;
}
.col h2,
.col ul {
    place-self: center;
}

.col:nth-child(1) {
    border-radius: 12px 0 0 12px;
}
.col:nth-child(2) {
    z-index: 1;
}
.col:nth-child(3) {
    border-radius: 0 12px 12px 0;
}

.col:nth-child(odd) {
    width: 350px;
    height: 425px;

    background: white;
}
.col:nth-child(odd) button {
    background: linear-gradient(75deg, var(--primary-01), var(--primary-02));
    color: white;

    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 2.5px;

    margin: 0 auto;
}
.col:nth-child(odd) button:hover {
    background: transparent;
    color: var(--primary-02);
    border: 2px solid var(--primary-02);
}

.col:nth-child(even) {
    width: 350px;
    height: 475px;

    background: linear-gradient(145deg, var(--primary-01), var(--primary-02));
    border-radius: 12px;
    color: white;
}
.col:nth-child(even) ul li {
    border-color: rgb(255, 255, 255, 0.2);
}
.col:nth-child(even) button {
    background: white;
    color: var(--primary-02);

    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 2.5px;
    margin: 0 auto;
}
.col:nth-child(even) button:hover {
    background: transparent;
    color: white;
    border: 2px solid white;
}

/* IDS */
#title {
    color: var(--GrayishBlue);
    font-weight: 700;
}
#title h1 {
    font-size: 1.9rem;
    margin-bottom: 1.5625rem;
}
#title #switch {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    position: relative;
    top: 1rem;

    color: var(--LightGrayishBlue);
}
#switch input {
    margin: 0 25px;
    height: 30px;
    width: 55px;
}

#switch input:checked {
    background-color: var(--primary-01); /* Linear gradient = bug :D */
}

/* Media@ */

@media (max-width: 1000px) {
    body {
        height: 100%;
    }
    footer {
        padding: 0;
    }
    .container h1 {
        margin-top: 25px;
    }

    .container {
        margin: 50px auto;
    }
    .row {
        grid-template: auto / repeat(
                auto-fit,
                minmax(/* min(15.5rem, 100%)*/ 100%, 1fr)
            );
        position: relative;
    }
    .col {
        margin-top: 50px;
    }

    #title {
        margin-bottom: 25px;
    }
}

@media (min-width: 1000px) {
    .container {
        height: 100vh;

        grid-template-rows: minmax(275px, 1fr) 1fr minmax(50px, 0.3fr);
    }
    #title h1 {
        margin-top: 100px;
    }
}

/* FRONTEND PRESET */
footer {
    position: fixed;
    z-index: 100;

    top: 40vh;
    padding-left: 5px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 5px;
    writing-mode: vertical-lr;
}
.attribution div a {
    color: hsl(228, 45%, 44%, 50%);
}
